{% extends "base.html" %}
{% load static %}


{% block title %}
  StoreEVN | {{product.name}}
{% endblock title %}

{% block header %}
  <div class="container mx-auto px-4 py-2">
    <h1 class="text-3xl my-4">{{product.name}}</h1>
  </div>
{% endblock header %}

{% block content %}
  <main>
    <div class="container mx-auto px-4 py-2">
      <div class="max-w-[568px] h-[568px]">
        {% if product.image %}
          <img src="{{product.image.url}}" alt="{{product.name}}">
        {% else %}
          <img src="https://thumb.ac-illust.com/b1/b170870007dfa419295d949814474ab2_t.jpeg" alt="{{product.name}}">
        {% endif %}
      </div>
      {% if product.discount %}
      <p>${{product.discount_price}}</p>
      {% else %}
        <p>${{product.price}}</p>
      {% endif %}
      
      <form action="{% url 'cart:cart_add' product.id %}" method="POST">
        <div>
          {% csrf_token %}
          {{cart_product_form}}
        </div>
        <input type="submit" class="block text-white mt-4 w-fit bg-gray-600 px-4 py-2" value="Add To Cart">
      </form>
    </div>
  </main>
{% endblock content %}