{% extends "./base.html" %}
{% load static %}


{% block title %}
  StoreEVN | {{product.name}}
{% endblock title %}


{% block header %}
  <h1>{{product.name}}</h1>
{% endblock header %}


{% block content %}
  <main>
    <div class="container">
      <div>
        {% if product.image %}
          <img src="{{product.image.url}}" alt="{{product.name}}">
        {% else %}
          <img src="https://thumb.ac-illust.com/b1/b170870007dfa419295d949814474ab2_t.jpeg" alt="{{product.name}}">
        {% endif %}
      </div>
      {% if product.discount %}
      <p>{{product.discount_price}}</p>
      {% else %}
        <p>{{product.price}}</p>
      {% endif %}
      <a href="#">ADD To Cart</a>
    </div>
  </main>
{% endblock content %}