{% if products_qty|length > 6 %}
    <ul class="flex gap-4 justify-center my-4">
    <li class="{% if not products.has_previous %} pointer-events-none text-gray-700 {% endif %}">
      <a href="{% if products.has_previous %}
           ?page={{ products.previous_page_number }}
        {% endif %}">
        <
      </a>
    </li>

    {% for page in products.paginator.page_range %}
      {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
        <li>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="{% if not products.has_next %} pointer-events-none text-gray-700 {% endif %}">
      <a href="{% if products.has_next %}
           ?page={{ products.next_page_number }}
        {% endif %}">
        >
      </a>
    </li>
  </ul>
{% endif %}